$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  height: 100%;
}

#title {
  margin: 15px 0;
}

#content {
  overflow-y: auto;
}

.collapsed ul {
  display: none;
}

li {
  list-style-type: none;
}

span.focused {
  background-color: lightblue;
}

form, input[type="text"] {
  margin-bottom: 0
}
