$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Generic */
html, body {
  height: 100%;
}


/* List View */

#list {
  margin-top: 15px;
}

input[type="checkbox"] {
  margin-top: -4px;
}

tr:nth-child(odd) > td {
  background-color: #fafafa;

  &:hover {
    background-color: #eff;
  }

  &.selected {
    background-color: #ffc;
  }
}

td {
  &:hover {
    background-color: #eff;
  }

  &.selected {
    background-color: #ffc;
  }
}

#star {
  margin-right: 8px;
  font-size: 16px;
}

#star-enabled {
  color: orange;
}

a {
  color: black;

  &:hover {
    text-decoration: none;
  }
}


/* Detail View */

#title {
  margin: 15px 0;
}

#content {
  overflow-y: auto;

  > ul {
    margin: 0;
  }
}

.collapsed ul {
  display: none;
}

li {
  list-style-type: none;
}

span.focused {
  background-color: lightblue;
}

form, input[type="text"] {
  margin-bottom: 0
}
