<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <h1>MindMap</h1>
      Search: <input ng-model="query"><br>
      Sort By:
      <select ng-model="orderProp">
        <option value="title">Alphabetical</option>
        <option value="age">Newest</option>
        <option value="-age">Oldest</option>
      </select>
      <button ng-click="createMindMap()">Create MindMap</button>
    </div>
    <div id="list" class="span9">
      <table class="table table-bordered">
        <tr ng-repeat="mindmap in mindmaps | filter:query | orderBy:orderProp">
          <td ng-class="{'selected': mindmap.selected}">
            <input type="checkbox" ng-model="mindmap.selected">
            <span id="star" ng-click="toggleStar($index)">
              <span ng-hide="mindmap.star">☆</span>
              <span ng-show="mindmap.star" id="star-enabled">★</span>
            </span>
            <a href="#/{{mindmap._id}}">
              {{mindmap.title}}
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
