<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <h1>MindMap</h1>
      Search: <input ng-model="query"><br>
      Sort By:
      <select ng-model="orderProp">
        <option value="title">Alphabetical</option>
        <option value="age">Newest</option>
        <option value="-age">Oldest</option>
      </select>
      <button ng-click="createMindMap()">Create MindMap</button>
    </div>
    <div class="span9">
      <table class="table table-striped table-bordered">
        <!--
        <tr>
          <th>Title</th>
        </tr>
        -->
        <tr ng-repeat="mindmap in mindmaps | filter:query | orderBy:orderProp">
          <td>
            <input type="checkbox">
            <a href="#/{{mindmap._id}}">
              {{mindmap.title}}
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
